

RewriteEngine on
RewriteCond %{HTTP_HOST} ^greetlabs.com [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ http://www.greetlabs.com/$1 [L,R=301,NC]
